<%- include('partials/head') %>


<%- include('partials/header') %>

	<ul>
		<li>
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
		<li>
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
		<li>
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
		<li>
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
		<li>
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
		<li>
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
	</ul>
</body>
</html>