<%- include('partials/head') %>


<%- include('partials/header') %>

	<ul class="pokemon-list">
		<li class="pokemon-list__card">
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
		<li class="pokemon-list__card">
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
		<li class="pokemon-list__card">
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
		<li class="pokemon-list__card">
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
		<li class="pokemon-list__card">
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
		<li class="pokemon-list__card">
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
		
	</ul>
</body>
</html>