<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PokedExpress</title>
</head>
<body>
	<header>
		<h1>Pokédex</h1>

		<nav>
			<ul>
				<li><a href="/">Liste</a></li>
				<li><a href="">Types</a></li>
				
			</ul>
		</nav>
	</header>

	<ul>
		<li>
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
		<li>
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
		<li>
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
		<li>
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
		<li>
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
		<li>
			<a href="">
				<img src="/img/1.png" alt="Bulbizarre">
				<h2>#1 Bulbizarre</h2>
			</a>
		</li>
	</ul>
</body>
</html>